@colorObligatoire: red;
@visibility: hidden;
@colorValid: rgb(99, 212, 99);

.obligatoire {
    color: @colorObligatoire;
}

.invisible{
    visibility: @visibility;
}

.valid{
    color: @colorValid;
    font-size: 200%;
}

.invalid{
    color: @colorObligatoire;
    font-size: 200%;
}